body {
    background-color: rgb(222, 206, 255);
    text-decoration: none;
    color: rgb(0, 170, 255);
    font-family: "JetBrains Mono", monospace;
    letter-spacing: 5px;
    font-size: 30px;
    transform: translate(25px, 30px)
}

h1 {
    font-size: 40px;
    color: rgb(0, 170, 255);
    font-family: "JetBrains Mono", monospace;
    letter-spacing: 20px;
    transform: translate(0px, 100px);
}

h3 {
    font-size: 210px;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: -20px;
    transform: translate(0px, -60px);
}

h2 {
    font-family: "JetBrains Mono", monospace;
    color: rgb(0, 170, 255);
    font-size: 60px;
    letter-spacing: 25px;
    transform: translate(0px, -200px);
    text-transform: none;
}

a {
    text-decoration: none;
    color: rgb(0, 170, 255); 
    }
a:hover {
    color: rgb(255, 0, 166);
    transition: 400ms;
}

section {
    transform: translate(770px, -400px)
}